
# https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!*/
!*.*
# 忽略所有没有后缀的文件
# * tells git to ignore everything.
#!*/ then unignores anything that is a directory. This is crucial.
#!*.* unignores all files with an extension.

**/build
**.dSYM